span,
p {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 200;
}

.card {
    margin-top: 30px;
    width: 360px;
    height: 265px;
    margin-bottom: 40px;
}

#title {
    font-size: 14px;
    font-weight: 400;
}

#message {
    font-style: italic;
    font-weight: 200;
    font-size: 11px;
    color: #3f3f3f;
    margin-bottom: 20px;
}