@keyframes fade-in {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    display: flex;
    flex-direction: column;
    animation: fade-in;
    animation-duration: 1s;
}


div.head {
    display: flex;
    flex-direction: column;

    height: 20%;
    margin-bottom: 40px;
}

div.wrap {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

time {
    font-family: 'Courier New';
    font-size: 12px;
    width: fit-content;
    margin: 0 auto;
}

logo {
    margin: 50px auto 10px;
}

a {
    text-decoration: none;
}

span {
    font-family: 'Courier New';
    font-size: 12px;
}

ul {
    list-style: none;
}

button {
    font-family: 'Courier New';
    font-size: 12px;
    height: 22px;
    background: transparent;
    border-style: none;
    transition: 0.1s;
}

button:hover {
    color: #ffffff;
    background: #ff4000 !important;
}