body {
    background-image: url('../resource/background-black.png');
    background-size: 100%;
}

.wrap ul {
    margin: 0 auto 0;
    width: 150px;
    text-align: left;
}

li {
    height: 28px;
}

li>a:hover {
    background: #EA3323 !important;
}

span {
    width: fit-content;
    transition: 0.1s;
}