/*@import url(flowup.css);*/

body {
    background-image: url('../resource/background-black.png');
    background-size: 100%;
}

time {
    color: #ffffff;
}

logo {
    margin: 150px auto 10px;
}

div.wrap {
    display: flex;
}

.wrap ul {
    margin: 50px auto 0;
    width: 150px;
    text-align: left;
    list-style: none;
}

a {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

li {
    height: 28px;
}

li>a:hover {
    background: #ff4000 !important;
}

span {
    width: fit-content;
    transition: 0.1s;
}