/*@import url(flowup.css);*/

body {
    background-image: url('../resource/background-black.png');
    background-size: 100%;
}

div.head {
    height: 200px;
    display: flex;
    flex-direction: column;

    margin-bottom: 30px;
}

time {
    font-family: 'Courier New';
    font-size: 12px;
    width: fit-content;
    margin: 0 auto;
    color: #ffffff;
}

logo {
    margin: 150px auto 10px;
}

div.wrap {
    height: 300px;
    display: flex;
}

.wrap ul {
    margin: 50px auto 0;

    width: 150px;
    text-align: left;
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

li>a:hover {
    background: #ff4000 !important;
}

span {
    font-family: 'Courier New';
    font-size: 12px;
    width: fit-content;
    transition: 0.1s;
}