/*@import url(flowup.css);*/

body {
    background-image: url('../resource/background-black.png');
    background-size: 100%;
}

time {
    color: #ffffff;
}

logo {
    margin: 150px auto 10px;
}

div.wrap {
    height: 300px;
    display: flex;
    flex-direction: column;
}

p {
    color: #ffffff;
    font-family: 'Courier New';
    font-size: 12px;
    margin: 80px auto 10px;
}

button {
    width: 60px;
    color: #ffffff;
    margin: 20px 30px 0;
}

a:visited {
    color: #ffffff;
}