/*@import url(flowup.css);*/

body {
    background-image: url('../resource/background-black.png');
    background-size: 100%;
}

time {
    color: #ffffff;
}

logo {
    margin: 150px auto 10px;
}

div.wrap {
    height: 100px;
    display: flex;
    flex-direction: column;
}

p {
    color: #ffffff;
    font-family: 'Courier New';
    font-size: 12px;
    margin: 80px auto 10px;
}

button {
    width: 60px;
    color: #ffffff;
    margin: 20px 30px 0;
}

button#yes:hover {
    color: #ffffff;
    background: #D3427C !important;
    /*background: #EA3323 !important;*/
}

button#no:hover {
    color: #ffffff;
    background: #3FB2C8 !important;
    /*background: #EA3323 !important;*/
}

a:visited {
    color: #ffffff;
}


/*-----Backgournd Video-----*/

#container {
    /*overflow: hidden;*/
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -3;
}

#video_cover {
    position: absolute;

    width: 100%;
    height: 100%;

    background: url('../resource/she\ and\ she.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    z-index: -4;
}

#background_video {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
    height: 100%;
    width: 100%;
}