p,
span {
    letter-spacing: 0.3px;
    font-weight: 200;
    margin-top: 6px;
    margin-left: 6px;
    color: #000000
}

.content {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 300px;
    width: 900px;
    margin: 20px auto 40px;
}

.essay_block {
    width: 80px;
    height: 100%;
    vertical-align: top;
    transition: 0.2s;
    display: inline-block;
    /*margin-left: -4px;*/
    overflow: hidden;
    background-color: #fefefc
}

.brief {
    width: 90px;
    height: 40px;
    padding: 5px;
}

.detail {
    position: relative;
    top: 50px;
    left: 80px;
    width: 220px;
    background-color: rgba(249, 247, 243, 0.9);
    padding: 10px;
    display: none;
}

.detail p {
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
}

.essay_block:hover .detail {
    display: block;
}

.essay_block:hover {
    z-index: -1;
    backdrop-filter: blur(3px) brightness(100%);
    width: 400px;
}