.article {
    width: 500px;
    height: auto;
    margin: 20px auto 0;
    padding: 8px;
}

b.title {
    font-size: 16px;
}

b.time {
    float: right;
    margin-top: 5px;
}

p {
    font-family: "Courier New", "PingFang SC";
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: 200;
}

line {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 0.5px solid black;
    margin-top: 6px;
    margin-bottom: 6px
}

lktex {
    background-color: #EA3323 !important;
    color: white;
}

lktex:hover {
    background-color: #CA0323 !important;
}


.back {
    width: 60px;
    margin: 30px auto;
}

/*MD related CSS*/

.main>h1 {
    font-family: 'Courier New', "PingFang SC";
    font-size: 16px;
    font-weight: 400;

}

.main>h2 {
    font-family: 'Courier New', "PingFang SC";
    font-size: 14px;
    font-weight: 400;
}

.main>blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    border-radius: 3px;
    margin: 15px 10px;
    padding: 0.2em 15px;
    quotes: "\201C""\201D""\2018""\2019";
}

.main>blockquote>p {
    margin: 5px 0px;
}

.main>p>code {
    color: #FF4500;
    padding: 1px 0.5px 1.5px 2.5px;
    margin: 0px 2px;
    background-color: #eee;
    border-radius: 3px;
}

.main>ul {
    list-style-type: disc;
    font-family: 'Courier New', "PingFang SC";
    font-weight: 200;
    font-size: 12px;
    margin-left: -20px;
}

.main>ul>ul {
    list-style-type: circle;
    font-family: 'Courier New', "PingFang SC";
    font-size: 12px;
    margin-left: 5px;
}

.main>ul>ul>ul {
    list-style-type: square;
    font-family: 'Courier New', "PingFang SC";
    font-size: 12px;
    margin-left: 5px;
}

.main>ul>li {
    font-family: 'Courier New', "PingFang SC";
    font-size: 12px;
    margin-bottom: 3px;
}

.main>ul>ul>li {
    font-family: 'Courier New', "PingFang SC";
    font-size: 12px;
    margin-bottom: 3px;
}

.main>ul>ul>ul>li {
    font-family: 'Courier New', "PingFang SC";
    font-size: 12px;
    margin-bottom: 3px;
}

input {
    font-family: “Source Code Pro”;
}