article {
    width: 500px;
    height: auto;
    margin: 20px auto 0;
    padding: 8px;
}

span,
p {
    font-family: "Courier New", "PingFang SC";
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: 200;
}

line {
    display: flex;
    flex-direction: row;
    width: 500px;
    border-top: 0.5px solid black;
    margin-top: 6px;
    margin-bottom: 6px
}

.backbutton {
    position: relative;
    width: 45px;
    margin: 40px auto;
}